/* About Me section styles */
.container{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.profile {
	width:100%;
	padding:1rem;
	margin: 1rem;
}

.profile img{
	width:80%;
	height:auto;
}

.profile picture{
	display: flex;
	justify-content: center;
}

.nametag{
	display:flex;
	justify-content: center;
	padding:1rem;
	font-size: 1rem;
	font-family: fantasy;
}

@media only screen and (min-width: 36rem){

	.container{
		flex-direction: row;
	}

	.profile {
		width:50%;
		padding:1rem;
	}
}
